h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: var(--dark);
	letter-spacing: 1px;
	margin: 10px 0 20px;
}

h1 {font-size: 32pt;}
h2 {font-size: 27pt;}
h3 {font-size: 22pt;}
h4 {font-size: 18pt;}

body a {
	color: var(--sapphire);
}