<!-- Web fonts -->
<cms:block 'web-fonts'>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
</cms:block>

<!-- Favicons -->
<cms:block 'icons'>
	<link rel="icon" type="image/png" href="<cms:show a.favicon />" />
	<link rel="apple-touch-icon" href="<cms:show a.favicon />" />
</cms:block>

<cms:block 'external'>
	<!-- Vue -->
	<script src="https://unpkg.com/vue@3.1.5<cms:if a.production_mode>/dist/vue.global.prod.js</cms:if>"></script>
	<!-- Shoelace -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.47/dist/themes/base.css">
	<script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.47/dist/shoelace.js"></script>
</cms:block>

<!-- Meta tags -->
<cms:block 'meta'>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title><cms:show a.seo_title /></title>
	<meta name="description" content="<cms:show a.site_description />"/>
	<meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
	<link rel="canonical" href="<cms:show k_site_url />" />
</cms:block>

<!-- Open Graph -->
<cms:block 'open-graph'>
	<meta property="og:locale" content="<cms:show og_locale />" />
	<meta property="og:type" content="<cms:show og_type />" />
	<meta property="og:title" content="<cms:show seo_title />" />
	<meta property="og:description" content="<cms:show seo_desc />" />
	<meta property="og:url" content="<cms:show k_site_url />" />
	<meta property="og:site_name" content="<cms:show site_name />" />
	<meta property="og:image" content="<cms:show site_image />" />
</cms:block>

<cms:block 'twitter-card'>
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:description" content="<cms:show seo_desc />" />
	<meta name="twitter:title" content="<cms:show seo_title />" />
	<meta name="twitter:site" content="<cms:show twitter_handle />" />
	<meta name="twitter:image" content="<cms:show site_image />" />
	<meta name="twitter:creator" content="<cms:show twitter_handle />" />
</cms:block>

<cms:block 'ha-js'>
	<script type='text/javascript'>
		<cms:embed 'anatomy/js/anatomy-head.js' />
	</script>
</cms:block>

<!-- CSS -->
<cms:block 'css-link'>
	<cms:minify 'css' into=s_css_path>
		embed/anatomy/css/vars.css
		embed/anatomy/css/typography.css
		embed/anatomy/css/base.css
		embed/anatomy/css/layout.css
		embed/anatomy/css/modules.css
		embed/client/css/vars.css
		embed/client/css/typography.css
		embed/client/css/base.css
		embed/client/css/layout.css
		embed/client/css/modules.css
	</cms:minify>
</cms:block>

<!-- Style with access to Couch vars -->
<style>
	<cms:block 't-css'>
		<cms:embed "templates/<cms:show a_template_basename />/<cms:show a_template_basename />.css" />
	</cms:block>
	<cms:block 'v-css' />
</style>